input {
    width: 100%;
    font-size: large;
}
button{
    text-align: center;
    width: 60%;
    height: 50px;
    border-radius: 150px;
    font-size: x-large;
    background-color: dodgerblue;
    color:white;
}
#links{
    margin-left: 8%;
}

